{% extends 'home_base.html' %}


{% block content1 %}


<!--1st post -->

<div class="post clearfix">
    <!-- post for image -->
    <div class="postimg float-left">
        {%if our_vision.body_img1 %}
        <img src="{{ our_vision.body_img1.url }}" class="img-thumbnail" alt="Post 1st image">
        {% else %}
        <img src="../static/imge/a.jpg" class="img-thumbnail" alt="Post 1st image">
        {% endif%}
    </div>

    <!-- post for blog -->
    <div class="post_dec float-right">
        {% if our_vision.title1 %}
        <h2 class="font-weight-bold">{{ our_vision.title1 }}</h2>
        {% else %}
        <h2 class="font-weight-bold">Title 1</h2>
        {% endif%}
        {% if our_vision.body_text1 %}
        <p class="text-break">{{ our_vision.body_text1 }}</p>
        {% else %}
        <p class="text-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
        {% endif%}
    </div>
</div>

<!-- 2nd post -->
<div class="post2 clearfix">
    <!-- pors for image -->
    <div class="postimg2 float-right">
        {% if our_vision.body_img2 %}
        <img src="{{ our_vision.body_img2.url }}" class="img-thumbnail" alt="Post 1st image">
        {% else %}
        <img src="../static/imge/b.jpg" class="img-thumbnail" alt="Post 1st image">
        {% endif %}
    </div>
    <!-- post for blog -->
    <div class="post_dec2 float-left">
        {% if our_vision.title2 %}
        <h2 class="font-weight-bold">{{ our_vision.title2 }}</h2>
        {% else %}
        <h2 class="font-weight-bold">Title 2</h2>
        {% endif %}
        {% if our_vision.body_text2 %}
        <p class="text-break text-justify">{{ our_vision.body_text2 }}</p>
        {% else %}
        <p class="text-break text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
        {% endif %}
    </div>
</div>

<!-- 3dr post -->
<div class="post3 clearfix">
    <!-- post for image -->
    <div class="postimg3 float-left">
        {% if our_vision.body_img3 %}
        <img src="{{ our_vision.body_img3.url }}" class="img-thumbnail" alt="Post 1st image">
        {% else %}
        <img src="../static/imge/c.jpg" class="img-thumbnail" alt="Post 1st image">
        {% endif %}
    </div>
    <!-- post for blog -->
    <div class="post_dec3 float-right">
        {% if our_vision.title3 %}
        <h2 class="font-weight-bold">{{ our_vision.title3 }}</h2>
        {% else %}
        <h2 class="font-weight-bold">Title 3</h2>
        {% endif %}
        {% if our_vision.body_text3 %}
        <p class="text-break text-justify">{{ our_vision.body_text3 }}</p>
        {% else %}
        <p class="text-break text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
        {% endif %}
    </div>
</div>
 

{% endblock %}

