{% extends 'base.html' %}
{% load static %}

{% block content%}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper-1.14.7.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Carousel  -->
<div class="carousel_slid">
    <div class="opacity_carousel"></div>
    <div id="slide" class="carousel slide" data-ride="carousel">
        <!-- carousel indicators -->
        <ul class="carousel-indicators">
            <li data-target="#slide" data-slide-to="0" class="active"></li>
            <li data-target="#slide" data-slide-to="1"></li>
            <li data-target="#slide" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item carousel-img-1 active">
                {% if home_slider%}
                    <img src="{{ home_slider.slider_1.url }}" alt="Slid Image">
                {% else %}
                    <img src="../static/imge/slider/slider1.jpg" alt="Slid Image">
                {% endif %}
                <div class="carousel-caption">
                    <h3>Just Donate Blood</h3>
                    <p>Do yout know just a point of blood can save up to 3 lives?</p>
                </div>
            </div>
            <!-- carousel item -->
            <div class="carousel-item carousel-img-2">
                {% if home_slider%}
                <img src="{{ home_slider.slider_2.url }}" alt="Slid Image">
                {%else%}
                <img src="../static/imge/slider/slider2.jpg" alt="Slid Image">
                {%endif%}
                <div class="carousel-caption">
                    
                    <h3>Just Donate Blood</h3>
                    <p>Donating blood is safe.</p>
                </div>
            </div>
            <div class="carousel-item carousel-img-3">
                {% if home_slider %}
                    <img src="{{ home_slider.slider_3.url }}" alt="Slid Image">
                {%else%}
                <img src="../static/imge/slider/slider3.jpg" alt="Slid Image">
                {% endif %}
                    <div class="carousel-caption">
                    <h3>Just Donate Blood</h3>
                    <p>Donating blood is simple,painless and noble</p>
                </div>
            </div>
        </div>
        <!-- carousel control -->
        <a class="carousel-control-prev" href="#slide" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slide" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

{% block content1 %} 


{% endblock %}


 {%endblock%}